node_modules/
client/bower_components/*
.idea
.idea/
dump.rdb
*.iml
nodeclub/
server/routes/course.js
npm-debug.log
client/app/upload/thumbnail/*
!client/app/upload/video/scorm/
client/app/upload/video/
_document/
client/bower_components/
backups
nohup.out
/client/app/upload/carousel/*
client/app/upload/*
__MACOSX
