<div class="content container">
    <div class="page-wrapper" >
        <header class="page-heading clearfix">
            <h1 class="heading-title pull-left">日志查看</h1>
            <div class="breadcrumbs pull-right">
                <ul class="breadcrumbs-list">
                    <li class="breadcrumbs-label">当前位置:</li>
                    <li><a ui-sref='app.index'>首页</a><i class="fa fa-angle-right"></i></li>
                    <li><a>系统维护</a><i class="fa fa-angle-right"></i></li>
                    <li class="current">日志查看</li>
                </ul>
            </div>
        </header>
        <textarea id='logging' class='col-sm-12' rows=20  ng-model='logging' ></textarea>
    </div>
</div>
<p style="padding-top: 20px"></p>
