<div class="container">
    <div class="page-wrapper">
        <header class="page-heading clearfix">
            <h1 class="heading-title pull-left">培训班 - {{name}}</h1>
            <div class="breadcrumbs pull-right">
                <ul class="breadcrumbs-list">
                    <li class="breadcrumbs-label">当前位置:</li>
                    <li><a ui-sref='app.index'>首页</a><i class="fa fa-angle-right"></i></li>
                    <li><a>学员管理</a><i class="fa fa-angle-right"></i></li>
                    <li><a ui-sref='students.classes'>培训班</a><i class="fa fa-angle-right"></i></li>
                    <li class="current">详情</li>
                </ul>
            </div>
        </header>
        <caption>
            <h3>培训班学员</h3>
        </caption>
        <students-list students='originStudents' show-finish=true pagination-id='student'></students-list>
        <h3>培训班课程</h3>
        <class-courses-list courses='originCourses' pagination-id='class'></class-courses-list>
    </div>
</div>
