<div class="content container">
    <div class="page-wrapper">
        <header class="page-heading clearfix">
            <h1 class="heading-title pull-left">个人学习情况</h1>
            <div class="breadcrumbs pull-right">
                <ul class="breadcrumbs-list">
                    <li class="breadcrumbs-label">当前位置:</li>
                    <li><a ui-sref='app.index'>首页</a><i class="fa fa-angle-right"></i></li>
                    <li><a>学员管理</a><i class="fa fa-angle-right"></i></li>
                    <li><a ui-sref='students.all'>全部学员</a><i class="fa fa-angle-right"></i></li>
                    <li class="current">学习进度</li>
                </ul>
            </div>
        </header>
        <class-courses-list courses='originCourses' show-finish-time=true></class-courses-list>
    </div>
</div>
