
<!-- ******CONTENT****** -->
<div class="content container">
	<div class="page-wrapper">
		<header class="page-heading clearfix">
			<h1 class="heading-title pull-left">设备管理</h1>
			<div class="breadcrumbs pull-right">
				<ul class="breadcrumbs-list">
					<li class="breadcrumbs-label">当前位置:</li>
					<li><a data-ui-sref="app">首页</a><em class="fa fa-angle-right"></em></li>
					<li><a data-ui-sref="device">设备管理</a><em class="fa fa-angle-right"></em></li>
					<li class="current">添加</li>
				</ul>
			</div>
			<!--//breadcrumbs-->
		</header>
		<div class="page-content">
			<div class="row page-row">
				<div class="courses-wrapper col-sm-12">

					<form class="form-horizontal" name="deviceForm">
						<div class="form-group">
							<label for="deviceName" class="col-sm-1 control-label">设备名称</label>
							<div class="col-sm-8">
								<input type="text" id="deviceName" name="deviceName" class="form-control" placeholder="请输入设备名称" required="required" data-ng-model="deviceModel.name" />
                                <!--<span class="help-block" data-ng-show="deviceForm.deviceName.$invalid && deviceForm.deviceName.$pristine">设备名称不能为空！</span>-->
							</div>
						</div>
						<div class="form-group">
							<label for="remark" class="col-sm-1 control-label">备注</label>
							<div class="col-sm-8">
								<textarea id="remark" name="remark" class="form-control" rows="4" data-ng-model="deviceModel.remark"></textarea>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-1 col-sm-8">
								<button type="submit" class="btn btn-primary" data-ng-disabled="deviceForm.$invalid" data-ng-click="doSave(deviceModel);">保存</button>
								<a role="button" class="btn btn-default" data-ui-sref="device">返回</a>
							</div>
						</div>
					</form>
				</div>
				<!--//courses-wrapper-->
			</div>
			<!--//page-row-->
		</div>
		<!--//page-content-->
	</div>
	<!--//page-->
</div>
<!--//content-->
